<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Metric" %>
    <%= form.select :name, [ 'Cooperation', 'Goal-oriented', 'Work-ethic', 'Web development', 'Language proficiency', 'Programming' , 'test'], {prompt: 'Select One'}, {class: "browser-default custom-select"} %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field(:value, in: 0..5, class: "form-control", disable: true)   %>
  </div>

  <%= form.hidden_field :evaluator_id, value: current_user.id%>

  <%= form.hidden_field :user_id, value: @user.id%>

  <div class="actions">
    <%= form.submit "Add Score", class: "btn default-color white-text" %>
  </div>
<% end %>
