<td>
  <%= rank %>
</td>
<td>
  <%= link_to user&.user_profile&.name, user %>
</td>
<td>
  <% if user.scores.empty? %>
    Not Evaluated
  <% else %>
    <%= sprintf("%.2f", user.average_score) %>
    <i class="fas fa-star"></i>
  <% end %>
</td>
<td>
  <%= link_to "Evaluate", user, class: "btn btn-sm default-color white-text" %>
</td>
<td>
  <%= link_to("Delete", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-sm default-color white-text') unless user == current_user %>
</td>
